body{
	padding:0px;
	margin:0px;
	background-color: #2b2b2b;
	
	
}

header{
	margin:0px;
	border: 1px solid#2b2b2b;
	margin:0px;
	padding:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	background-color: #e7c9de;
	color:#2b2b2b;
}

nav{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
a{
	color:#2b2b2b;
}

.navigation{
	margin-left:3vw;
	
}

h1,#me{
	display:flex;
	justify-content:center;
	color:#e7c9de;
}
h2{
	color:#ffffff;
}

#myInfo{

	padding:1%;
	line-height:40px;
}
img{
	width:650px;
	height:400px;
	border:5px solid #e7c9de;
}
#myProjects{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
ul{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}


section,form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
p{
	padding-left:10%;
	padding-right:10%;
	text-align:justify;
	line-height:40px;
	color:white;
}
.contact{
	padding:3px;
	margin:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

}
 input,textarea{
 	width:400px;
 	height:50px;
 	border-radius: 5px;
 	border: 2px solid #e7c9de;
 }
 button{
 	width:200px;
 	height:50px;
 	border-radius: 5px;
 	color:rgb(48, 46, 46);
 	background-color:#e7c9de;
 	font-size: 20px;
 }
footer{
	text-align:center;
	padding-bottom: 5px;
	display:flex;
	justify-content: center;
	align-items: center;
margin-bottom: 0px;
margin-top: 10px;
}
#design{
	background-color: rgb(231,201,222,0.20);
	padding-top :100px;
	margin-top: 20px;
	margin-bottom: 100px;
	padding-bottom:100px;

}
label{
	color:white;
	margin:10px;
}
.ProjDemo{
	width:45%;
}