body{
	padding:0px;
	margin:0px;
	background-color: #2b2b2b;
	
	
}

header{
	margin:0px;
	border: 1px solid#2b2b2b;
	margin:0px;
	padding:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	background-color: #e7c9de;
	color:#2b2b2b;
}

nav{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
a{
	color:#2b2b2b;
}

.navigation{
	margin-left:3vw;
	
}

h1,#me{
	display:flex;
	justify-content:center;
	color:#e7c9de;
}
h2{
	color:#ffffff;
}

#myInfo{

	padding:1%;
	line-height:40px;
}
img {
  width: 100%;
  max-width: 650px; 
  height: 30vh;      
  border: 5px solid #e7c9de;
}

img:hover {
  cursor: pointer;         
}

#myProjects{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
ul{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}


section,form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
p{
	padding-left:10%;
	padding-right:10%;
	text-align:justify;
	line-height:40px;
	color:white;
}
.contact{
	padding:3px;
	margin:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

}
 input,textarea{
 	width:400px;
 	height:50px;
 	border-radius: 5px;
 	border: 2px solid #e7c9de;
 }
 button{
 	width:200px;
 	height:50px;
 	border-radius: 5px;
 	color:rgb(48, 46, 46);
 	background-color:#e7c9de;
 	font-size: 20px;
 }
footer{
	text-align:center;
	padding-bottom: 5px;
	display:flex;
	justify-content: center;
	align-items: center;
margin-bottom: 0px;
margin-top: 10px;
}
#design{
	background-color: rgb(231,201,222,0.20);
	padding-top :100px;
	margin-top: 20px;
	margin-bottom: 100px;
	padding-bottom:100px;

}
label{
	color:white;
	margin:10px;
}
.ProjDemo{
	width:45%;
}


/* #for mobile */

 /* Mobile Responsive */
@media (max-width: 768px) {
  
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navigation {
    margin-left: 0;
    margin-top: 10px;
  }

  #myProjects {
    flex-direction: column;
    align-items: center;
  }

  .ProjDemo {
    width: 90%;
    margin-bottom: 20px;
  }

  img {
    width: 90%;
    height: auto;
  }

  p {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 28px;
  }

  input, textarea, button {
    width: 90%;
    height: 45px;
    font-size: 16px;
  }

  section, form {
    padding: 10px;
  }

  #design {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  img:hover {
  cursor: pointer;         
}
}

/*# for tablet */

/* Tablet Responsive */
@media (min-width: 769px) and (max-width: 1024px) {

  header {
    flex-direction: row;
    padding: 12px;
  }

  nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .navigation {
    margin-left: 2vw;
  }

  #myProjects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .ProjDemo {
    width: 48%;
    margin-bottom: 20px;
  }

  img {
    width: 80%;
    height: auto;
  }

  p {
    padding-left: 8%;
    padding-right: 8%;
    line-height: 32px;
  }

  input, textarea, button {
    width: 80%;
    height: 48px;
    font-size: 18px;
  }

  #design {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 15px;
    margin-bottom: 80px;
  }

  img:hover {
  cursor: pointer;         
}
}
